.page.theme_light {
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-color: #353430;
  --bg-color: #FFF1F7;
  --bg-path: url(../images/cover-image-light.png);
  --header-display-decor: none;
  --section-title-color: var(--main-color);
  --button-color: var(--main-color);
  --button-hover-outline-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --main-color: #353430;
    --bg-color: #FFF1F7;
    --bg-path: url(../images/cover-image-light.png);
    --header-display-decor: none;
    --section-title-color: var(--main-color);
    --button-color: var(--main-color);
    --button-hover-outline-color: rgba(50, 49, 45, 0.4);
  }
}