/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);

}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--section-title-color);
}

.content-text {

  line-height: 130%;
  color: var(--main-color);
}

.link-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link-decor:focus {
  outline: none;
}

.link-decor:focus-visible {
  outline: 1px solid var(--main-color);
}

.header {
  position: relative;
  display: grid;
  background-image: var(--header-bg-path);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 768px;
  padding: 20px;
  align-items: start;
  grid-template-rows: repeat(3, 1fr);
}

.header::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.header__decor {
  display: var(--display-header-decor);
  position: absolute;
  top: 20px;
  right: 48px;
}

.header__decor::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 139%;
}

.header__decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--button-color);
  line-height: 100%;
}

.header__theme-menu-button {
  padding: 1.5px 13px 5px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
}

.header__text {
  justify-self: right;
  font-weight: 700;
  line-height: 130%;
  max-width: 491px;
  margin-top: 56px;
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
}

.main {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Why */
.why {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 2.07fr;
  gap: 20px;
}

.why__content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why__content-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.why__content-text {
  margin-top: 10px;
}


/* What */
.what__title {
  width: 315px;
}

.what__content-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.what__content-text {
  margin-top: 10px;
}

/* How */
.how {
  display: grid;
  grid-template-columns: 1fr 2.07fr;
  gap: 20px;
}

.how__content-item {
  margin-top: 20px;
}

.how__content-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.how__content-text {
  margin-top: 10px;
}

/* gallary */
.gallary__title {
  font-size: 18px;
  line-height: 130%;
}

.gallary__wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.gallary__wrapper img {
  object-fit: cover;
}

.gallary__sunset {
  grid-column: span 2;
}

.gallary__ice-cream {

  grid-row: span 2;
}

.gallary__tape {
  grid-row: span 3;
}

.gallary__books {}

.gallary__street {
  grid-row: span 2;
  grid-column: span 2;
}

/* footer */
.footer {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  font-size: 157px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}