:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-color: #f1b2ce;
  --bg-color: #000028;
  --bg-path: url(../images/cover-image-dark.png);
  --header-display-decor: block;
  --section-title-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-outline-color: rgba(255, 0, 112, 0.4);
  --corner-color: var(--accent-color);
}

@media (max-width: 425px) {
  :root {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}